[submodule "Packages/mustache"]
	path = Packages/mustache
	url = https://github.com/Hugoch/sublimeText2-mustache
[submodule "Packages/TOML"]
	path = Packages/TOML
	url = https://github.com/lmno/TOML.git
[submodule "Packages/Ini"]
	path = Packages/Ini
	url = https://github.com/clintberry/sublime-text-2-ini.git
[submodule "Packages/ApacheConf"]
	path = Packages/ApacheConf
	url = https://github.com/colinta/ApacheConf.tmLanguage.git
[submodule "Packages/CMake"]
	path = Packages/CMake
	url = https://github.com/zyxar/Sublime-CMakeLists.git
[submodule "Packages/PrettyJson"]
	path = Packages/PrettyJson
	url = https://github.com/dzhibas/SublimePrettyJson.git
[submodule "Packages/NSIS"]
	path = Packages/NSIS
	url = https://github.com/SublimeText/NSIS.git
[submodule "Packages/Theme - Soda"]
	path = Packages/Theme - Soda
	url = https://github.com/laurent22/soda-theme
[submodule "Packages/Flex"]
	path = Packages/Flex
	url = https://github.com/itsgg/Flex-Sublimetext
[submodule "Packages/knockdown"]
	path = Packages/knockdown
	url = https://github.com/laurent22/knockdown
[submodule "Packages/sublime-markdown-extended"]
	path = Packages/sublime-markdown-extended
	url = https://github.com/laurent22/sublime-markdown-extended
[submodule "Packages/sublime-monokai-extended"]
	path = Packages/sublime-monokai-extended
	url = https://github.com/jonschlinkert/sublime-monokai-extended.git
