[submodule "Packages/mustache"]
	path = Packages/mustache
	url = https://github.com/Hugoch/sublimeText2-mustache
[submodule "Packages/TOML"]
	path = Packages/TOML
	url = https://github.com/lmno/TOML.git
[submodule "Packages/Ini"]
	path = Packages/Ini
	url = https://github.com/clintberry/sublime-text-2-ini.git
[submodule "Packages/ApacheConf"]
	path = Packages/ApacheConf
	url = https://github.com/colinta/ApacheConf.tmLanguage.git
[submodule "Packages/CMake"]
	path = Packages/CMake
	url = https://github.com/zyxar/Sublime-CMakeLists.git
[submodule "Packages/PrettyJson"]
	path = Packages/PrettyJson
	url = https://github.com/dzhibas/SublimePrettyJson.git
